/* app/assets/stylesheets/custom_styles.css */

/* Style for search button */
.btn-search {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-search:hover {
    background-color: #45a049;
  }
  
  /* Style for add button */
  .btn-add {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-add:hover {
    background-color: #0073aa;
  }
  